@{
    var hexHeight = 150.0;
    var margin = 5.0;
    var hexy = new HexViewComponentModel
    {
        Content = "",
        Icon = "",
        ColorContext = "dark"
    };
    var topSecret = new HexViewComponentModel
    {
        Content = "Classified",
        Icon = "lock-fill",
        ColorContext = "primary",
        Href = "/classified/index",
        IsButton = true
    };
    var farewell = new HexViewComponentModel
    {
        Content = "Farewell",
        Icon = "capslock",
        ColorContext = "primary",
        Href = "/farewell/index",
        IsButton = true
    };
    var logoHex = new HexViewComponentModel
    {
        Content = "<img src='/media/dustech-logo.png' class='dustech-logo' />",
        Icon = "",
        ColorContext = "dark",
        Href = "",
        IsButton = false,
        IsContentHtml = true
    };
    var elements = new List<HexViewComponentModel>
    {
        topSecret,
        hexy,
        hexy,
        farewell,
        hexy,
        hexy,
        hexy
    };

    var gridModel = new HexGridViewComponentModel(elements)
    {
        HexHeight = hexHeight,
        Margin = margin,
        MaxRowLength = 3,
        Inverted = true
    };

    var responsiveModel = new HexGridResponsiveViewComponentModel(gridModel);
}

<div class="container p-4 mb-3 ">
    @await Component.InvokeAsync("HexGridResponsive", responsiveModel)
</div>