<footer class="footer">
    <section class="container-fluid border-top py-5 carbon text-center">
        <div class="row justify-content-around align-items-center">
            <div class="col-6">
                &copy; @(DateTime.Today.Year) - Dustech
            </div>
            <diV class="col-6">
                <partial name="_Social"/>
            </diV>
        </div>

    </section>
</footer>