<footer class="border-top footer text-muted p-5 d-flex align-items-center fixed-bottom">
    <div class="container">
        &copy; @(DateTime.Today.Year) - Dustech
    </div>
    <diV class="container">
        <partial name="_Social"/>
    </diV>
</footer>