@{
    var randomy = Random.Shared.Next(0, 99);
}

<div class="user-img">
    <div class="glow-effect">
        <img
            src="https://randomuser.me/api/portraits/men/@(randomy).jpg"
            alt=""
            class="img-fluid rounded-circle glow-border "/>
    </div>
</div>