@model PersonImage 

<div class="user-img">
    <div class="glow-effect">
        <img
            src="@Model.Src"
            alt=""
            class="img-fluid rounded-circle glow-border "/>
    </div>
</div>