<div class="fixed-top ruler" id="ruler">
    <div class="bg-light text-dark" style="height: 30px; width: 575px"> < 575 Under small bg-light</div>
    <div class="bg-info " style="height: 30px; width: 767px">576 - 767 Small bg-info</div>
    <div class="bg-success " style="height: 30px; width: 991px">768 - 991 Medium bg-success</div>
    <div class="bg-warning " style="height: 30px; width: 1199px">992 - 1199 Large bg-warning</div>
    <div class="bg-secondary " style="height: 30px; width: 1400px">1200 - 1400 Xl bg-info</div>
    <div class="bg-transparent " style="height: 30px; width: 100%"> >= 1400 Xxl bg-transparent</div>
    <div>
            <i class="bi-x-lg display-3" onclick="document.getElementById('ruler').style.display = 'none';" style="cursor: pointer;"></i>
    </div>
    
</div>