@using Dustech.App.Infrastructure
@model HexGridViewComponentModel

@{
    var containerHeight = Utils.DeLocalizer.toInvariant(Model.ContainerHeight);
    var containerWidth = Utils.DeLocalizer.toInvariant(Model.ContainerWidth);
}

<div class="container px-0 @Model.ContainerClass" style="height: @(containerHeight)px; width:@(containerWidth)px ">


    @foreach (var row in Model.Rows)
    {
        @await Component.InvokeAsync("HexGridRow", row)
    }
</div>