@model HexGridViewComponentModel

<div class="container px-0 @Model.ContainerClass"  style="height: @(Model.ContainerHeight)px; width:@(Model.ContainerWidth)px " >
    
        
        @foreach (var row in Model.Rows)
        {
            @await Component.InvokeAsync("HexGridRow", row)
        }
</div>