@model HexGridViewComponentModel

<div class="container py-4  @Model.ContainerClass" >
    <div style="height: @(Model.ContainerHeight)px;">
        
        @foreach (var row in Model.Rows)
        {
            @await Component.InvokeAsync("HexGridRow", row)
        }
    </div>
</div>