@using Dustech.App.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HexViewComponentModel


@{
    var width = Utils.DeLocalizer.toInvariant(Model.Width);
    var height = Utils.DeLocalizer.toInvariant(Model.Height);
    var topOffSet = Utils.DeLocalizer.toInvariant(Model.TopOffSet);
    var leftOffSet = Utils.DeLocalizer.toInvariant(Model.LeftOffSet);
    var localClasses = "";
    localClasses = Model.IsButton ? $"hexagon-card-btn btn btn-{Model.ColorContext} " : "alert alert-dark border-0";
}

<div class="hexagon-card px-0 @localClasses
d-flex justify-content-center align-items-center "
     style="width:@(width)px;height:@(height)px;position: absolute; margin-top:@(topOffSet)px ;margin-left:@(leftOffSet)px;">
    
    <div class="container m-0 p-0">
        @* smallest size *@
        <div class="row mt-3 w-100 m-auto d-block d-sm-none">
            <div class="col-12">
                <p class=" mb-0">
                    <i class="bi-@(Model.Icon)"></i>
                </p>
            </div>
            <div class="col-12 m-0 p-0">
                <p class="text-truncate small">
                    @(Model.Content)
                </p>
            </div>
        </div>
        @* normal size *@
        <div class="row mt-3 w-100 m-auto d-none d-sm-block">
            <div class="col-12">
                <p class="h3 mb-0">
                    <i class="bi-@(Model.Icon)"></i>
                </p>
            </div>
            <div class="col-12 m-0 p-0">
                <p class="text-truncate">
                    @(Model.Content)
                </p>
            </div>
        </div>
        @if (Model.IsButton)
        {
            <a asp-page="@Model.Href" class="text-decoration-none stretched-link"></a>
        }
    </div>
    
</div>